body {
    background: #FFF4EF;
    font-family: Inter, sans-serif;
}

.container {
    background: linear-gradient(155deg, #BB64FF 1.25%, #D74D00 98.37%);
    
}

input[type="checkbox"] {
    all: unset;
    display: inline-block;
}

input[type="checkbox"] {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(0, 31, 63, 0.49);
}

input[type="checkbox"]:checked {
    background-color: #fff
}

@tailwind base;
@tailwind components;
@tailwind utilities;